.flex-container{
    width: 250px;
    height: 250px;
    background-color: grey;
    padding: 10px;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap-reverse;
    align-items: flex-end;
    align-content: space-between;
    justify-content: center;
}
.flex-item{
    width: 50px;
    height: 50px;
    border-radius: 25%;
}
 
.verde{    
    background-image: url(2.jpg);
    background-size: cover;
}

.amarelo{
    background-image: url(1.png);
    background-size: cover;
}

.vermelho{
    background-image: url(3.jpg);
    background-size: cover;
}

.q1, .q2{
    align-self: flex-start;
    align-items: space-between;
}

